In [2]:
## 001
print("Hello World")

Hello World

In [3]:
## 002
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
## 003
print('"도둑이야"')

"도둑이야"

In [5]:
## 004
print('"C:\\Windows"')

"C:\Windows"

In [6]:
## 005
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄바꿈. \t는 tab!

안녕하세요.
만나서		반갑습니다.

In [10]:
## 006
print ("오늘은","일요일")
#사이에 쉼표를 넣은 경우 출력 결과물은 오늘은 일요일 
#사이에 +를 넣은 경우 출력 결과물은 오늘은일요일

오늘은 일요일

In [14]:
## 007 X
print('naver;kakao;sk;samsung')
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [15]:
## 008
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [18]:
## 009
print("first",end='');print('second')

# method 뒤에 ;을 붙이면 바로 method를 입력할 수가 있네..?

firstsecond

(None, None)

In [19]:
## 010
print(5/3)

1.6666666666666667

In [20]:
## 011
삼성전자 = 50000
print(10*삼성전자)

500000

In [21]:
## 012
시가총액 = '298조'
현재가 = '50,000원'
RER = 15.79

In [22]:
## 013
s = 'hello'
t = 'python'
print(s+'!',t)

hello! python

In [23]:
##014
2+2*3
# 2*3부터 계산 되어 6 +2 = 8

8

In [24]:
## 015
a = '132'
# a의 타입은 str
print(type(a))

<class 'str'>

In [26]:
## 016
num_str = '720'
print(int(num_str),type(int(num_str)))

720 <class 'int'>

In [27]:
## 017
num = 100
print(str(num),type(str(num)))

100 <class 'str'>

In [28]:
## 018
num = '15.79'
print(float(num), type(float(num)))

15.79 <class 'float'>

In [33]:
## 019
year = '2020'
int_year = int(year)
for i in range(2,-1,-1):
    if i != 0:
        print(int_year-i,end=', ')
    else:
        print(int_year)

2018, 2019, 2020

In [43]:
## 020
월요금 = '48,584원'
int_요금 = 월요금.replace(',','').replace('원','')
# int_요금 = int_요금.replace('원','')
int_요금 = int(int_요금)
총금액 = int_요금*36
print(총금액)

1749024

In [44]:
## 021
letters = 'python'
print(letters[0],letters[2])

p t

In [45]:
## 022
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [48]:
## 023
string = "홀짝홀짝홀짝"
for i in string:
    if i == '홀':
        print(i, end='')

홀홀홀

In [62]:
## 024
string = "PYTHON"
answer = ''
for i in range(len(string)-1,-1,-1):
    answer += string[i]
print(answer)
##another answer
reversed_string = string[::-1]
print(reversed_string)

NOHTYP
NOHTYP

In [63]:
## 025
phone_number = "010-1111-2222"
print (phone_number.replace('-', ' '))

010 1111 2222

In [64]:
## 026
print(phone_number.replace('-',''))

01011112222

In [69]:
## 027
url = "http://sharebook.kr"
print(url.split('.')[1])

kr

In [70]:
## 028
lang = 'python'
lang[0] = 'P'
print(lang)
# 'Python'이 출력될 것
#string은 index로 수정할 수 없다!

TypeError: 'str' object does not support item assignment

In [71]:
cap_lang = lang.capitalize()
print(cap_lang)

Python

In [72]:
## 029
string = 'abcdfe2a354a32a'
upper_string = string.replace('a','A')
print(upper_string)

Abcdfe2A354A32A

In [73]:
## 030
string = 'abcd'
string.replace('b','B')
print(string)
#replace 한 후 변수에 지정을 해줘야 변경점이 저장된다.

abcd

In [74]:
## 031
a = '3'
b = '4'
print(a+b)
# 34, type은 str로 출력될 것임

34

In [75]:
## 032
print('Hi'*3)
# HiHiHi

HiHiHi

In [76]:
## 033
print('-'*80)

--------------------------------------------------------------------------------

In [83]:
## 034
t1 = 'python'
t2 = 'java'
print((t1+' '+ t2+' ')*4)

python java python java python java python java

In [87]:
def AddMul(num):
    global t1, t2
    i = 1
    answer = ''
    while i <= num:
        if i == num:
            answer += t1 + ' ' + t2
            i += 1
        else:
            answer += t1+' '+t2+' '
            i += 1
    return answer
print(AddMul(4))

python java python java python java python java

In [91]:
## 035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d'%(name1,age1))
print('이름: %s 나이: %d' %(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [92]:
## 036
print('이름: {} 나이: {}'.format(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [93]:
## 037
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [95]:
## 038
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(',',''))
print(상장주식수,type(상장주식수))

5969782550 <class 'int'>

In [97]:
## 039
분기 = "2020/03(E) (IFRS연결)"
slicing = 분기[:7]
print(slicing)

2020/03

In [98]:
## 040
data = "   삼성전자    "
data = data.strip()
print(data)

삼성전자

hi